<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <style>
  .size{
    width:40px;
  height:25px;

  }
  </style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class=" nav navbar-nav navbar-right">
      <li class="active"><a href='/initial_home'>Home</a></li>
      <li><a href='/downloads'>Downloads</a></li>
      <li><a href='/home'>Upload</a></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=user.full_name %>     <%  if(img === 'uploads/default.png\n'){ %><img class='size' src="/uploads/default.png" /> <% }else{  %><img class='size' src=/<%=img %> /> <% } %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href=/profile/<%=user.userid %> >profile</a></li>
            <li><a href=/logout>logout</a></li>

          </ul>
        </li>


    </ul>
  </div>
</nav>

<div class="container">
  <h1 style="text-align:center">Classmates</h1>

  <% for(var i=0;i<results.length;i++){ %>
<div class="row">
    <div class="col-md-6">

   <div class="thumbnail">

      <img  src=/<%=results[i].location %> alt="Card image cap">


   </div>



</div>
<div class="col-md-2">
</div>
<div class="col-md-4">
  <div class="caption"
    <ul class="collection">
      <h3><li>  Name :<%=results[i].full_name %></li></h3>
        <br>
      <h3><li>  Branch :<%=results[i].branch %></li></h3>
      <br>
      <h3><li>  Year :<%=results[i].b_year %></li></h3>
</ul>


  </div>
</div>

</div>

    <% } %>

</div>

</body>
</html>
